In [1]:
from bs4 import BeautifulSoup
import urllib.request
from urllib.parse import quote
import pandas as pd

def get_movie_reviews(mcode, page_num=10):

  movie_review_df = pd.DataFrame(columns=("Title", "Score", "Review"))
  url = "https://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword=" + str(mcode) + "&target=after"
  idx = 0

  for _ in range(0, page_num):
    movie_page = urllib.request.urlopen(url).read()
    movie_page_soup = BeautifulSoup(movie_page, 'html.parser')

    review_list = movie_page_soup.find_all('td',{'class':'title'})
    for review in review_list:
      title = review.find('a', {'class':'movie color_b'}).get_text()
      score = review.find('em').get_text()
      review_text = review.find('a', {'class':'report'}).get('onclick').split(',')[2]
      movie_review_df.loc[idx] = [title, score, review_text]
      idx += 1
      print("#", end="")
   
    try:  
      url =  "https://movie.naver.com" + movie_page_soup.find('a', {'class':'pg_next'}).get('href')
    except:
      break

  return movie_review_df

In [2]:
movie_review_df = get_movie_reviews(191559, 10)
movie_review_df

####################################################################################################

   Title Score                                             Review
0      듄     8                          '방대한 양을 그래도 잘 영화화했다고 생각함'
1      듄    10                              '오래 기다린 만큼 감동도 컸습니다 '
2      듄    10   '듄 세게관에 대한 이해없이 sf의 화려한 액션씬을 기대한다면 실망할수도.누구는 ...
3      듄    10                   '두시간 넘게 사막에 있다나온 느낌~ 후편이 기대되네요 '
4      듄    10                                     '아이맥스로 넋놓고 봤나'
..   ...   ...                                                ...
95     듄     8                                '쟁쟁한 배우들보기에 너무나 좋지만
96     듄    10                        '재미있어요로;)) SF좋아하면 한번쯤 볼만해요'
97     듄     6   '개인적으로 좀 지루했음 드라마도 아니고 영화인데 처음부터 끝까지 도망만 치다가 ...
98     듄     2            '샬라메 얼굴만 보고 왔어요 내용이 무슨 주저리 주저리 지루하다 너무'
99     듄     2   'ㅠㅠ재미없어요 너무 지루해… 알고보니 멋진 배우분들이 많이나왔네요 그럼뭐해 열심...

[100 rows x 3 columns]

In [11]:
url = "https://movie.naver.com/movie/point/af/list.naver"
naver_movie = urllib.request.urlopen(url).read()
soup = BeautifulSoup(naver_movie, 'html.parser')
select = soup.find('selects',{'id':'current_movie'})
movies = soup.find_all('option')

movies_dict = {}
for movie in movies[1:]:
  movies_dict[movie.get('value')] = movie.get_text()

movie_review_df = pd.DataFrame(columns=("Title","Score","Review"))
for mcode in movies_dict:
  df = get_movie_reviews(mcode, 1)
  movie_review_df = pd.concat([movie_review_df, df])

movie_review_df

#########################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################################

     Title Score                                             Review
0   퍼펙트 스틸     5                          '하고자 하는 이야기가 뭔지 명확하지 않다.'
1   퍼펙트 스틸     8                            '빌슼 너무 잘생겼고 귀엽고 섹시함...'
2   퍼펙트 스틸     9                                 '최애 배우들의 흡입력 있는 연기
3   퍼펙트 스틸    10                                 '역시 믿보 라인업! 연기 짱짱'
4   퍼펙트 스틸     8   '듄볼까 이거볼까 고민하다가 본건데 듄볼걸 그랬나ㅎㅎ강추도 아니고 완전 꿀잼도 아...
..     ...   ...                                                ...
5   생산적 활동     8                    '어딜봐서포르노냐 훌륭한 작품에 괜한 먹칠하지 말길..'
6   생산적 활동    10                  '아침에우연히봤는데... 심하다....지켜보는아줌마는 뭐여'
7   생산적 활동    10                                              '재밌어'
8   생산적 활동     7                        '짧은 단편영화였지만 충분히 재미는 있었다...'
9   생산적 활동    10             '대담하고 솔직하고 재치있다.민망하게 적나라하며 인간적이고 따뜻하다'

[1145 rows x 3 columns]